.mainTab {
  display: flex;
  align-items: center;

  justify-content: center;
  height: 100vh;
  width: 100%;
  background-image: url("./../../public/singImg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.75;
}

.subTab {
  border-radius: 8px;
  width: 400px;
  background-color: #fafafadf;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  padding: 30px;
}
.loginForm {
  width: 100%;

  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}
.loginForm > input {
  margin: 20px 0px;
  height: 30px;
  border-radius: 999px;
  outline: none;
  border-color: #808080;
  border-image: none;
  border-style: solid;
  padding: 5px 15px;
  font-family: "Roboto";
  font-size: medium;
  border-width: 1px;
  transition: height 0.5s, margin 0.5s ease;
}
.loginForm > input[type="file"] {
  border: 0px;
  width: 80%;
}
.loginForm > input:hover {
  height: 35px;
  margin: 15px 0px;
}
.buttonHolder {
  width: 100%;
  display: flex;
  justify-content: center;
}
.buttonHolder > button {
  background-color: #16b116;
  width: 50%;
  border-radius: 999px;
  border-color: #fafafaa9;
  border-style: solid;
  height: 40px;
  color: #ffffff;
  font-size: larger;
  font-family: "Poppins";
  margin: 20px 0px;
  transition: height 0.5s, margin 0.5s ease;
}
.buttonHolder > button:hover {
  background-color: #1cd01c;
  width: 50%;
  height: 45px;

  margin: 15px 0px;
  cursor: pointer;
}
.forgotPassword {
  color: #808080;
  font-style: initial;
  text-decoration: none;
  font-size: medium;
  font-family: "Roboto";
  font-style: italic;
}
.fpp {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  margin-bottom: 10px;
}
.pText {
  text-decoration: none;
  font-size: medium;
  margin-top: 5px;
  font-family: "Poppins";
}
.separator {
  height: 1px;
  background-color: #808080;
  width: 100%;
}
.imgPreview {
  height: 100px;
  width: 100px;
  border-radius: 999px;
}
.imgPreviewT {
  height: 200px;
  width: 200px;
}
@media only screen and (max-width: 720px) {
  .subTab {
    padding: 15px;
    width: 100%;
    border-radius: 0px;
  }
  .loginForm > input {
    margin: 15px 0px;
  }
}
