.profileTab {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.profileImg {
  height: 70px;
  width: 70px;
  border-radius: 999px;
  margin: 10px;
}
.profileName {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  margin: 10px;
  font-family: Roboto Mono;
}
.kku {
  display: flex;
  height: 100%;
  align-items: center;
}
.viewTab {
  color: #fbbf24;
  border: 2px #fbbf24 solid;

  border-radius: 4px;
  text-decoration: none;
  padding: 5px 10px;
  transition: 0.5s padding border ease-out;
}
.viewTab:hover {
  color: #22d3ee;
  border: 2px #22d3ee solid;
  padding: 7px 12px;
}
@media screen and (max-width: 720px) {
  .profileName {
    margin: 4px;
    font-size: medium;
  }
  .profileImg {
    margin: 4px;
  }
}
